docker/docker-volume/
mcp/om-mcp-workspace/
# Virtual Environments
**/venv/
**/.venv/
dbt/venv/
snowflake/venv/
python-api/venv/
manage_llms/venv/
mcp/venv/
ingestionFramework/venv-collate/

# Snowflake Keys
*.p8
*.p12
*.pem
jupyter_python_api/colat-env/
jupyter_python_sdk/colat-env/
jupyter_data_quality/dq-lean-env/
api/*.json
api/.*
openmetadata_helm/deps.yaml
*/.ipynb_checkpoints/
# Mac System Files
.DS_Store

# IDE Settings (Optional, but good practice)
.idea/
.vscode/

# Logs and Temp files
*.log

# Python cache files
__pycache__/
*.pyc
*.pyo

# dbt
dbt/target/
dbt/dbt_tgts/
dbt/target_custom/
dbt/logs/
dbt/dbt_packages/
dbt/dbt_modules/
dbt/profiles.yml
